.App {
  display: flex;
  justify-content: center;
}
button {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
button,
input {
  outline: 0;
}
.App button {
  text-transform: uppercase;
}
