.grid-container {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
.grid-item {
  padding: 0;
  font-size: 30px;
  background-color: #5488af;
}
.grid-item-insides {
  display: block;
  margin: auto;
}
.grid-item-insides {
  p {
    text-align: center;
    font-size: 30px;
  }
  input {
    width: 100%;
    border: 0;
  }
  button {
    width: 100%;
    border: 0;
  }
}
img {
  display: block;
  margin: auto;
}
