* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fbe4ca;
  user-select: none;
}
body {
  background-color: #393637;
}
button {
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
button,
input {
  outline: 0;
}
